.color1{
    background-color: #F27F3D;
}

body{
    background-image: url(../images/PELIGRO\ 00.jpg);
}

.title1{
    background-color: #F27F3D;
    border: 5px solid #D6B564;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.borde1{
    border: 5px solid #D6B564;
}

.disctable {
    text-align:center;
    display: table;
    margin:auto;

}

.imagesize {
    height: 323px;
    width: 323px;
    margin-top: 20px;
    
}

/*nav*/
.animacion {
    border-radius: 10px;
    border-color: #D6B564;
    color: black;
    box-shadow: 0 0 40px 40px #D6B564 inset, 0 0 0 0 #D6B564;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
.animacion:hover {
    box-shadow: 0 0 10px 0 #D6B564 inset, 0 0 10px 4px #D6B564;
  }

/* section */
.section{
    background-color: white;
}
.section {
    background-color: #F27F3D;
    border: 10px solid #D6B564;
    margin-top: 20px;
}

.section__grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .section__grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .section__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .section__grid-item--tall {
    grid-row: span 2;
  }
  .section__grid-item--wide {
    grid-column: span 2;

  }

  .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 600px) {
    .section__grid-item--tall {
      grid-column: span 2;
    }
  
    .section__grid-item--wide {
      grid-row: span 2;
    }
  }

  /*Separador main contacto*/
 


/*Formulario contacto*/
.btn-enviar {
  background-color: #D6B564;
  color: #F27F3D;
  border-color:#D6B564;
  margin-top: 20px;
} 

.btn-enviar:hover {
  color:#D6B564;
  background-color: #F26699;
  border-color: #F26699;
} 
/*Footer*/
.separador {
  margin-bottom: 215px ;
}

.footer {
    background-color: #F27F3D;
    border: 10px solid #D6B564;
    margin-top: 20px;
    text-align: center;
}

.footer__rrss {
    list-style: none;
    display: inline-block;
    padding-right: 80px;

    
    
}

.footer__list {
display: inline-block;
margin-left: 40px;
}


.footer__link {
    text-decoration: none;
}
.footer__link--image {
    text-decoration: none;
} 

.footer__link--image:hover {
    filter: opacity(0.9);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width:1400px) {
 .videoclip {
     font-size: large;
 }
}