.color1{
    background-color: #F27F3D;
}

body{
    background-image: url(../images/PELIGRO\ 00.jpg);
}

.title1{
    background-color: #F27F3D;
    border: 5px solid #D6B564;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.borde1{
    border: 5px solid #D6B564;
}

.disctable {
    text-align:center;
    display: table;
    margin:auto;

}

.imagesize {
    height: 323px;
    width: 323px;
    margin-top: 20px;
    
}

/*nav*/
.animacion {
    border-radius: 10px;
    border-color: #D6B564;
    color: black;
    box-shadow: 0 0 40px 40px #D6B564 inset, 0 0 0 0 #D6B564;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
.animacion:hover {
    box-shadow: 0 0 10px 0 #D6B564 inset, 0 0 10px 4px #D6B564;
  }


/*Footer*/

.footer {
    background-color: #F27F3D;
    border: 10px solid #D6B564;
    margin-top: 20px;
    text-align: center;
}

.footer__rrss {
    list-style: none;
    display: inline-block;
    padding-right: 80px;

    
    
}

.footer__list {
display: inline-block;
margin-left: 40px;
}


.footer__link {
    text-decoration: none;
}
.footer__link--image {
    text-decoration: none;
} 

.footer__link--image:hover {
    filter: opacity(0.9);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width:1400px) {
 .videoclip {
     font-size: large;
 }
}